body{
  background-color: lightsalmon;
}
.head{
  color: blue;
}

#bglime {
  background-color: lime;
}

#bglime span {
  color: red;
}

p {
  color: white;
}

#para {
  color: green;
}

p span {
  color: black;
  font-size: 25px;
}

ul li{
  color: white;
}

li a{
  background-color: yellow;
}

ol li:nth-child(2){
  color: blue;
}

ol li:nth-child(3){
  color: red;
}